<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li><a href="index.html"><d1>Logout</d1></a></li>
            <li><a href="#"><img src="../static/images/avatar.png" alt="" class="avatar-favicon"><d1>Hello Aretha</d1></a></li>

        </ul>
    </nav>
    <div id="side-menu" class="side-nav">

        <a href="categories.html" ><img src="../static/images/home.png" alt="" class="favicon"> <span id="side-menu-link">Categories</span></a>
        <br>
        <a href="products.html"><img src="../static/images/inventory.png" alt="" class="favicon"><span id="side-menu-link4">Products</span></a>
        <br>
        <a href="sales.html" class="active"><img src="../static/images/reports.png" alt="" class="favicon"><span id="side-menu-link3">Sales</span></a>
    </div>
    <div id="main">
        <span class="navbartoggle opened" id="open-slide" style="font-size:30px;cursor:pointer;margin-top:-80px;position:absolute;">
            &#9776;
        </span>
        <div id="main">
        <label id="report-label">Sales</label>
        <br>
        <input type="text" id="myInput"  placeholder="Filter Results..">
        <div id="table-container">
        <table>
          <thead>
            <tr>
              <th>Action</th>
              <th>Shop attendant</th>
              <th>Product Name</th>
              <th>Quantity Sold</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
        </table>
        <div id="output"></div>
        <div class="admin-btn">

            <a href="add-sale.html"><input type="submit" value="Add" class="btn-btn-submit"></a>
            <input type="submit" value="Filter Sales"id="getSingleText" class="btn-btn-submit" >
            <input type="submit" value="Get Sales" id="getText" class="btn-btn-submit">
        </div>
        </div>
    </div>
    </div>

    <nav class="navbar-bottom">
            <h2>Store Manager © 2018 . All Rights Reserved.</h2>
    </nav>
    <script src="../static/js/myscript.js"></script>
    <script>
        document.getElementById('getText').addEventListener('click', getSales);
        document.getElementById('getSingleText').addEventListener('click', getSingleSales);

        function getSingleSales(e){
            e.preventDefault();
            let saleid = document.getElementById('myInput').value;
            let sale_id = parseInt(saleid);
            console.log(sale_id);
            if (isNaN(sale_id)){
                alert("Please insert an ID")
            }
            fetch('http://127.0.0.1:5000/api/v1/sales/' + sale_id,{
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("access_token"),
                    'Accept': 'application/json, text/plain, */*',
                    'Content-type': 'application/json'
                }
            })

                .then((res) => res.json())
                    //console.log(res.json());
                .then((data) => {
                    console.log(data);
                    let result = [];
                    result.push(data);
                    console.log(result);



                    if("msg" in data){
                        alert(data.msg)
                    }
                    if ("message" in data){
                        alert(data.message)
                    } else {
                        let output = '<h2> </h2>';
                        result.forEach(function (sale) {
                            output += `
                            <table>
                            <tbody>
                            <tr >
                            <td class = "sale-list-group-item-5">${sale.sale_id}</td>
                            <td class = "sale-list-group-item-1">${sale.username}</td>
                            <td class = "sale-list-group-item-2">${sale.product_name}</td>
                            <td class = "sale-list-group-item-3">${sale.quantity}</td>
                            <td class = "sale-list-group-item-4">${sale.total}</td>
                            </tr>
                            </tbody>
                            </table>
                            `;
                        });


                        document.getElementById('output').innerHTML = output;
                    }

                })
                .catch((err) => console.log(err))

        }
        function getSales(){
            fetch('http://127.0.0.1:5000/api/v1/sales',{
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem("access_token"),
                    'Accept': 'application/json, text/plain, */*',
                    'Content-type': 'application/json'
                }
            })

                .then((res) => res.json())
                    //console.log(res.json());
                .then((data) => {
                    console.log(data);

                    if("msg" in data){
                        alert(data.msg)
                    }
                    if ("message" in data){
                        alert(data.message)
                    } else {
                        let output = '<h2> </h2>';
                        data.forEach(function (sale) {
                            output += `
                        <table>
                        <tbody>
                        <tr >
                        <td class = "sale-list-group-item-5">${sale.sale_id}</td>
                        <td class = "sale-list-group-item-1">${sale.username}</td>
                        <td class = "sale-list-group-item-2">${sale.product_name}</td>
                        <td class = "sale-list-group-item-3">${sale.quantity}</td>
                        <td class = "sale-list-group-item-4">${sale.total}</td>
                        </tr>
                        </tbody>
                        </table>
                        `;
                        });


                        document.getElementById('output').innerHTML = output;
                    }

                })

        }
    </script>
</body>
</html>